{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Facebook Feed plugin for Craft CMS 3.x
 *
 * Facebook Feed Settings.twig
 *
 * @author    dotsquares
 * @copyright Copyright (c) 2021 dotsquares
 * @link      https://dotsquares.com
 * @package   FacebookFeed
 * @since     1.0.0
 */
#}


{% import "_includes/forms" as forms %}




{{ forms.autosuggestField({
    label: "Facebook Access Token"|t("dsfacebook"),
    id: 'facebookUser',
    name: 'facebookUser',
    value: settings.facebookUser,
    type: 'text',
    placeholder: 'Enter your Facebook Access Token' |t("dsfacebook"),
    required: true
}) }}

<p>{{ "Enter your Facebook Access Token here."|t("dsfacebook") }}</p>

{{ forms.autosuggestField({
    label: "Facebook Page ID"|t("dsfacebook"),
    id: 'facebook_page_id',
    name: 'facebook_page_id',
    value: settings.facebook_page_id,
    type: 'number',
    placeholder: 'Enter Facebook Page ID here'|t("dsfacebook"),
    required: true
}) }}

<p>{{ "Enter your Facebook Page ID here."|t("dsfacebook") }}</p>



{{ forms.autosuggestField({
    label: "Facebook Feed Title" |t("dsfacebook"),
    id: 'facebookfeedtitle',
    name: 'facebookfeedtitle',
    value: settings.facebookfeedtitle,
    type: 'text',
    placeholder: 'Facebook Feed' |t("dsfacebook"),
    required: false
}) }}



<p>{{ "Switch Facebook Feed Layout From Grid Layout to Slider Layout."|t("dsfacebook")}}</p>

{{ forms.checkboxField({
    label: 'Enable Slider Layout'|t("dsfacebook"),
    id: 'Slider',
    name: 'Slider',
  checked: settings.Slider,

}) }}

<p>{{ "Disable Fields from layout which you dont want to appear on frontend feed."|t("dsfacebook")}}</p>
{{ forms.checkboxField({
    label: 'Facebook Page Name'|t("dsfacebook"),
    id: 'Fbpage',
    name: 'Fbpage',
  checked: settings.Fbpage,

}) }}
{{ forms.checkboxField({
    label: 'Facebook Page Profile Picture'|t("dsfacebook"),
    id: 'profile',
    name: 'profile',
  checked: settings.profile,

}) }}
{{ forms.checkboxField({
    label: 'Posted Time'|t("dsfacebook"),
    id: 'Time',
    name: 'Time',
  checked: settings.Time,

}) }}
{{ forms.checkboxField({
    label: 'Posted Picture Caption'|t("dsfacebook"),
    id: 'Caption',
    name: 'Caption',
  checked: settings.Caption,

}) }}



